@import "../../styles/variables";

.bm-burger-button {
  position: absolute;
  width: 2em;
  height: 1.6em;
  left: 2em;
  top: 1.5em;
}

.bm-burger-bars {
  background: $color-white-08;
}

.bm-cross {
  background: $color-white-08;
}

.bm-menu {
  background:  $color-brown;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: $color-brown-light;
}

.bm-item-list {
  color: $color-white;
  padding: 0.8em;
  li{
    float: none;
  }
}

.bm-overlay{
  z-index: 8 !important;
}

.bm-menu-wrap{
  z-index: 9 !important;
}

nav{
  background: none;
  box-shadow: none;
}

.top-menu {
  position: absolute;
  z-index: 1;
  text-align: center;
  li{
    display: inline-block;
    margin: 0 2em;
    float: none;
    position: relative;
    a{
      padding: 0;
      &:hover{
        color: $color-white;
        background: none;
      }
    }
    &:hover:before{
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      background: $color-white;
      bottom: 1em;
    }
  }
}


