@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";
@import "../../styles/variables";

.wedding-data{
  margin: 2em 0 0;
}

.wedding-data__item{
  padding: 1em !important;
  text-align: center;

  @media #{$medium-and-up} {
    padding: 0 3em !important;

    &:first-of-type{
      text-align: right !important;
      border-right: 1px solid $color-red;
    }
    &:last-of-type{
      text-align: left !important;
    }
  }

  h2{
    color: $color-red;
    margin-top: 0;
  }

  p {
       line-height: 2;
  }
}