@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";
@import "../../styles/variables";

.park-gallery {
  margin-top: 3em;

  @media #{$large-and-up} {
    margin-right: -10%;
    margin-left: -10%;
  }

  li{
    position: relative;
    box-shadow: 0 2px 15px $color-black-light-05;
    padding: 0.5em 0.5em 2.5em;
    background: $color-white;
    width: 90%;
    display: inline-block;
    margin-bottom: -1em;

    @media #{$medium-and-up} {
      width: 50%;
    }

    @media #{$large-and-up} {
      width: 33%;
    }

    img{
      width: 100%;
    }
  }

  .gallery-item-1{
    z-index: 1;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
  }

  .gallery-item-2{
    z-index: 2;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    margin-top: 1em;
  }

  .gallery-item-3{
    z-index: 2;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    margin-top: 1em;
  }

  .gallery-item-4{
    z-index: 1;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    margin-top: 1em;
  }
  .gallery-item-5{
    z-index: 2;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
  }

}