@import "../../../node_modules/materialize-css/sass/components/color";
@import "../../../node_modules/materialize-css/sass/components/variables";

.image-gallery{
  padding: 0;
  .image-gallery-image{
    min-height: 250px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      -webkit-filter: contrast(1.2) saturate(1.1) sepia(.3);
    }

    @media #{$medium-and-up} {
      min-height: 500px;
    }

    @media #{$large-and-up} {
      min-height: 700px;
      img{
        top: auto;
        bottom: -15%;
      }
    }
  }
}

.image-gallery-thumbnails{
  display: none;
}