@import "~materialize-css/sass/components/color";
@import ".~materialize-css/sass/components/variables";
@import "./../../styles/mixins";

.image-gallery{
  padding: 0;
  .image-gallery-image{
    min-height: 250px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      @include image-filter();
    }

    @media #{$medium-and-up} {
      min-height: 500px;
    }

    @media #{$large-and-up} {
      min-height: 600px;
      img{
        top: auto;
        bottom: -30%;
      }
    }
  }
}

.image-gallery-thumbnails{
  display: none;
}