section{
  padding: 1em 1em 2em;
  text-align: center;
  clear: both;
  &.section--image{
    padding-bottom: 3em;
    h2 {
      color: $color-white;
    }
    h6 {
      color: $color-white-05;
    }
    p{
      color: $color-white;
      font-weight: 300;
      font-size: 1.1em;
    }
  }
}