$color-white: rgba(255, 255, 255, 1);
$color-white-08: rgba(255, 255, 255, 0.8);
$color-white-05: rgba(255, 255, 255, 0.5);
$color-white-03: rgba(255, 255, 255, 0.3);

$color-gray: rgba(250, 250, 250, 1);

$color-black-light: rgba(51, 51, 51, 1);
$color-black-light-05: rgba(51, 51, 51, 0.5);
$color-black-light-03: rgba(51, 51, 51, 0.3);
$color-black: rgba(0, 0, 0, 1);

$color-green: rgba(84, 114, 84, 1);
$color-green-08: rgba(84, 114, 84, 0.8);

$color-red: rgba(165, 42, 42, 1);

$color-brown-light: rgba(242,232,213, 1);
$color-brown-light-09: rgba(242,232,213, 0.9);
$color-brown-light-03: rgba(242,232,213, 0.3);
$color-brown-light-01: rgba(242,232,213, 0.1);
$color-brown: rgba(206, 194, 132, 1);

$hover-color: $color-red;