@font-face {
  font-family: 'adine_kirnberg';
  src:  url('../fonts/adine_kirnberg.ttf')  format('truetype')
}

@font-face {
  font-family: 'alexandra_script';
  src:  url('../fonts/alexandra_script.ttf')  format('truetype')
}

html,
body {
  font-size: 16px;
  color: $color-black-light;
  font-weight: 300;
}