$color-white: #FFFFFF;
$color-gainsboro: #DCDCDC;
$color-white-smoke: #DCDCDC;
$color-gray: #f4f4f4;
$color-gray-slate: #6C7B8B;
$color-gray-slate-dark: #56626f;
$color-black-light: #3A4049;
$color-green: #66999A;
$color-green-dark: rgba(68, 102, 102, 0.8);
$color-pink: rgb(249, 234, 221);
$color-red-dark: #301C0D;

/**********   Font-Size   *********/
$base-font-size: 1em;

/**********   Line-Height   *********/
$base-line-height: 1.5;

/*********   Breakpoints   *********/

$bp-baby: 20em; // 320px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

/*********   Device widths   *********/

//$device-retina: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
//$device-xxlarge-desktop: ~"(min-width: ${bp-xxlarge})";
//$device-xlarge-desktop: ~"(min-width: ${bp-xlarge})";
//$device-large-desktop: ~"(min-width: ${bp-large})";
//$device-desktop: ~"(min-width: ${bp-medium})";
//$device-tablet:  ~"(min-width: ${bp-small})";
$device-mobile:  (min-width: $bp-baby);